    <!-- Nav -->
      <nav id="nav">
        <ul class="container">
          <li><a href="#" scroll-to="top">Top</a></li>
          <li><a href="#" scroll-to="work">Work</a></li>
          <li><a href="#" scroll-to="portfolio">Portfolio</a></li>
          <li><a href="#" scroll-to="contact">Contact</a></li>
        </ul>
      </nav>

    <!-- Home -->
      <div id="top" class="wrapper wrapper-style1 wrapper-first">
        <article class="container">
          <div class="row">
            <div class="4u">
              <span class="me image image-full"><img src="images/me.jpg" alt="Photo of Dakota" /></span>
            </div>
            <div class="8u">
              <header>
                <h1>Hi. I'm <strong>Dakota Nelson</strong>.</h1>
              </header>
              <p>Developer. Designer. Engineer. Learner.</p>
              <p>Because the world is too big to not try everything.</p>
              <!--<a href="#work" class="button button-big">Learn about what I do &raquo;</a>-->
            </div>
          </div>
        </article>
      </div>

    <!-- Work -->
      <div id="work" class="wrapper wrapper-style2">
        <article>
          <header>
            <h2>I design and build wonderful things...</h2>
            <span>Because really, what else am I going to do with all this free time?</span>
          </header>
          <div class="container vspace" ng-repeat="row in projects">
            <div class="row">
              <div class="4u" ng-repeat="project in row">
                <section class="box box-style1">
                  <span><a href="#/projects/{{project.id}}"><img ng-src="{{project.thumb}}" alt="Project thumbnail" height="150" width="300"></a></span>
                  <h3><a href="#/projects/{{project.id}}">{{project.title}}</a></h3>
                  <p>{{project.teaser}}</p>
                </section>
              </div>
            </div>
          </div>
            <!--<div class="row">
              <div class="4u">
                <section class="box box-style1">
                  <span class="fa featured fa-gears"></span>
                  <h3>Robots!</h3>
                  <p>Robots are the future. Wings, rotors, or wheels, I've worked on them - and loved every second of it.</p>
                </section>
              </div>
              <div class="4u">
                <section class="box box-style1">
                  <span class="fa featured fa-warning"></span>
                  <h3>Security!</h3>
                  <p>Someone's got to do it. Besides - having an adversary to work against makes life so much more interesting.</p>
                </section>
              </div>
              <div class="4u">
                <section class="box box-style1">
                  <span class="fa featured fa-rocket"></span>
                  <h3>Space!</h3>
                  <p>Humanity belongs in space,<br> and I want to help us get there.<br>(And hopefully go along.)</p>
                </section>
              </div>
            </div>
          </div>-->
        </article>
      </div>

    <!-- Portfolio -->
      <div id="portfolio" class="wrapper wrapper-style3">
        <article>
          <header>
            <h2>... for a lot of different people.</h2>
            <span>Two-person web startups to defense contractors that employ thousands.</span>
          </header>
          <div class="container">
            <div class="row">
              <div class="12u">
              </div>
            </div>
            <div class="row">
              <div class="4u">
                <article class="box box-style2">
                  <a href="http://www.stresearch.com/" target="_blank" class="image image-full"><img src="images/STR_logo.jpg" alt="Systems and Technology Research" /></a>
                  <h3><a href="http://www.stresearch.com/" target="_blank">STR</a></h3>
                  <p>Systems and Technology Research: Defeating the enemy, with science!</p>
                </article>
              </div>
              <div class="4u">
                <article class="box box-style2">
                  <a href="http://www.olin.edu/" target="_blank" class="image image-full"><img src="images/olin_logo.jpg" alt="" /></a>
                  <h3><a href="http://www.olin.edu/" target="_blank">Olin College</a></h3>
                  <p>Building the future and learning about math, one cup of coffee at a time.</p>
                </article>
              </div>
              <div class="4u">
                <article class="box box-style2">
                  <a href="https://www.proximate.com" target="_blank" class="image image-full"><img src="images/Proximate_Logo.png" alt="Proximate" /></a>
                  <h3><a href="https://www.proximate.com" target="_blank">Proximate</a></h3>
                  <p>Two weeks. No prior webdev experience. Why not?</p>
                </article>
              </div>
            </div>
            <div class="row">
              <div class="4u">
                <article class="box box-style2">
                  <a href="http://www.sandia.gov/" target="_blank" class="image image-full"><img src="images/sandia_logo.jpg" alt="Sandia National Laboratories" /></a>
                  <h3><a href="http://www.sandia.gov/" target="_blank">Sandia National Labs</a></h3>
                  <p>In today's world it takes more than guns to protect a country.</p>
                </article>
              </div>
              <div class="4u">
                <article class="box box-style2">
                  <a href="http://www.sdsmt.edu/" target="_blank" class="image image-full"><img src="images/SDSMT_Logo.jpg" alt="South Dakota School of Mines and Technology" /></a>
                  <h3><a href="http://www.sdsmt.edu/" target="_blank">SDSM&T Robotics</a></h3>
                  <p>Building better 'bots using the Robot Operating System.</p>
                </article>
              </div>
              <div class="4u">
                <article class="box box-style2">
                  <a href="http://www.wpafb.af.mil/AFRL/" target="_blank" class="image image-full"><img src="images/Afrl_logo.jpg" alt="Air Force Research Laboratory" /></a>
                  <h3><a href="http://www.wpafb.af.mil/AFRL/" target="_blank">Air Force Research Lab</a></h3>
                  <p>Designing satellites for the Air Force is a fantastic
                  way to spend a summer.</p>
                </article>
              </div>
            </div>
          </div>
          <footer>
            <!--<p>For more details, click the big blue button:</p>
            <a href="#contact" class="button button-big">Get in touch &raquo;</a>-->
          </footer>
        </article>
      </div>
