		<!-- Nav -->
			<nav id="nav">
				<ul class="container">
					<li><a href="#" scroll-to="top">Top</a></li>
					<li><a href="#" scroll-to="description">Description</a></li>
					<li ng-if="project.hasPhotos"><a href="#" scroll-to="photos">Photos</a></li>
					<li><a href="#" scroll-to="contact">Contact</a></li>
				</ul>
			</nav>

		<!-- Home -->
			<div id="top" class="wrapper wrapper-style1 wrapper-first">
				<article class="container">
					<div class="row">
						<div class="4u">
              <span class="image image-left"><img ng-src={{project.title_photo}} alt="Project title photo." /></span>
						</div>
						<div class="8u">
							<header>
                <h1>{{project.title}}</h1>
							</header>
              <p>{{project.tagline}}</p>
						</div>
					</div>
				</article>
			</div>

		<!-- Description -->
			<div id="description" class="wrapper wrapper-style2">
				<article>
					<header>
            <h2>{{project.subtitle}}</h2>
					</header>
					<div class="container">
						<div class="row">
              <div class="12u">
                <span ng-bind-html=project.description>
              </div>
						</div>
					</div>
					<footer>
					</footer>
				</article>
			</div>

		<!-- Photos -->
			<div ng-if="project.hasPhotos" id="photos" class="wrapper wrapper-style3">
				<article>
					<header>
						<h2>Photos</h2>
					</header>
					<div class="container">
            <div class="row">
              <div class="3u image" ng-repeat="photo in project.photos">
                <a dn-shadowbox name="{{photo}}" url="projects/{{project.id}}/{{photo}}"></a>
              </div>
            </div>
					</div>
					<footer>
					</footer>
				</article>
			</div>
